.card-weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em auto;
    width: 350px;
    height: 500px;
    background: linear-gradient(#eceeeb, #e3e3e3);
    border: 4px solid rgba(50, 50, 50, 0.05);
    border-radius: 30px;
}
.ikon{
    background: #a7dffa;
    width: 200px;
    height: 200px;
}
.town-name{

    margin-top: .8em;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}
.placeholder-img{
    margin-top: .8em;
}
.condition-weather-div{

    margin-top: .8em;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
}
.temp-div{

    margin-top: .4em;
    font-size: 38px;
    font-family: 'Open Sans', sans-serif;
}